# -*- mode: conf -*-


solovyov.net {
  encode zstd gzip
  root * /opt/solovyov.net/www
  import /etc/caddy/snet-*.caddy

  file_server

  @static {
    file
    path /favicon.ico /static/* /media/* *.jpg *.png
  }

  @exists {
    file
  }

  # why this instead of just two global headers:
  # https://caddy.community/t/cant-get-simple-alias-to-work/7911/10
  route @exists {
    header Cache-Control max-age=3600
    header @static Cache-Control max-age=31536000
  }

  @webhook {
    remote_ip 192.30.252.0/22 185.199.108.0/22 140.82.112.0/20
    path /webhook
  }
  reverse_proxy @webhook localhost:5002

  redir /blog/feed/ /blog.atom permanent
  redir /feeds/.* /blog.atom permanent
  redir /blog/feed.atom /blog.atom permanent
  redir /en/feed.atom /blog.atom permanent
  redir /blog/sz/* /sz/ permanent

  # drop date
  @date {
    path_regexp date ^/(blog|en)/(\d{4})/\d\d/\d\d/(.*)$
  }
  redir @date /{http.regexp.date.1}/{http.regexp.date.2}/{http.regexp.date.3} permanent

  @amp {
    path_regexp amp ^/(.*)/amp/$
  }
  redir @amp /{http.regexp.amp.1}/ permanent

  @weirdone {
    path_regexp one ^/(.*)/1$
  }
  redir @weirdone /{http.regexp.one.1}/ permanent

  # en migration
  redir /en/ /blog/ permanent
  redir /en.atom /blog.atom permanent
  redir /en/2007/django-performance-apache-vs-nginx* /blog/2007/django-performance-apache-vs-nginx-en/ permanent
  redir /en/2007/nginx-mod-wsgi-vs-fastcgi*          /blog/2007/nginx-mod-wsgi-vs-fastcgi-en/ permanent
  redir /en/2008/firepython-no-prints*               /blog/2008/firepython-no-prints-en/ permanent
  redir /en/2008/hgshelve*                           /blog/2008/hgshelve/ permanent
  redir /en/2008/mercurial-11*                       /blog/2008/mercurial-11-en/ permanent
  redir /en/2009/opster*                             /blog/2009/opster/ permanent
  redir /en/2009/revcanonical*                       /blog/2009/revcanonical-en/ permanent
  redir /en/2011/basic-sqlalchemy*                   /blog/2011/basic-sqlalchemy-en/ permanent
  redir /en/2012/cross-compiling-go*                 /blog/2012/cross-compiling-go/ permanent
  redir /en/2012/showkr*                             /blog/2012/showkr-en/ permanent
  redir /en/2013/goreplace*                          /blog/2013/goreplace-en/ permanent
  redir /en/2013/i18n*                               /blog/2013/i18n-en/ permanent
  redir /en/2014/cljs-start*                         /blog/2014/cljs-start/ permanent
  redir /en/2016/fluid-gmail*                        /blog/2016/fluid-gmail/ permanent
  redir /en/2017/server-side-rendering*              /blog/2017/server-side-rendering/ permanent
  redir /en/2019/http2-push-static*                  /blog/2019/http2-push-static/ permanent
  redir /en/2020/gostatic-hot-reload*                /blog/2020/gostatic-hot-reload/ permanent
  redir /en/2020/karabiner-hotkeys*                  /blog/2020/karabiner-hotkeys/ permanent
  
  # changed urls
  redir /opster/ https://github.com/piranha/opster/ permanent
  redir /cyrax/ https://github.com/piranha/cyrax/ permanent
  redir /slides/18-09-15-highload/ /slides/18-09-15-make-it-fast/ permanent
  redir /project-root/ https://docs.projectile.mx/
  redir /files/gr-* https://github.com/piranha/goreplace/releases

  log {
    output file /var/log/caddy/solovyov.net.log
    #format single_field common_log
  }
}

www.solovyov.net {
  redir https://solovyov.net{uri} permanent
}
