# -*- mode: conf -*-


solovyov.net {
  encode zstd gzip
  root * /opt/solovyov.net/www

  file_server

  @exists {
    file
  }

  handle @exists {
    route {
      header Cache-Control max-age=3600
      header /static/* Cache-Control max-age=31536000
      header /favicon.ico Cache-Control max-age=31536000
    }
  }

  handle /q/* {
    uri strip_prefix /q
    root * /mnt/share
    file_server browse
  }

  @webhook {
    remote_ip 192.30.252.0/22 185.199.108.0/22 140.82.112.0/20
    path /webhook
  }
  reverse_proxy @webhook localhost:5002

  redir /blog/feed/ /blog.atom permanent
  redir /feeds/.* /blog.atom permanent
  redir /blog/feed.atom /blog.atom permanent
  redir /en/feed.atom /blog.atom permanent
  redir /blog/sz/* /sz/ permanent

  # drop date
  @date {
    path_regexp date ^/(blog|en)/(\d{4})/\d\d/\d\d/(.*)$
  }
  redir @date /{http.regexp.date.1}/{http.regexp.date.2}/{http.regexp.date.3} permanent

  # en migration
  redir /en/ /blog/ permanent
  redir /en.atom /blog.atom permanent
  redir /en/2007/django-performance-apache-vs-nginx /blog/2007/django-performance-apache-vs-nginx-en/
  redir /en/2007/nginx-mod-wsgi-vs-fastcgi          /blog/2007/nginx-mod-wsgi-vs-fastcgi-en/
  redir /en/2008/firepython-no-prints               /blog/2008/firepython-no-prints-en/
  redir /en/2008/hgshelve                           /blog/2008/hgshelve/
  redir /en/2008/mercurial-11                       /blog/2008/mercurial-11-en/
  redir /en/2009/opster                             /blog/2009/opster/
  redir /en/2009/revcanonical                       /blog/2009/revcanonical-en/
  redir /en/2011/basic-sqlalchemy                   /blog/2011/basic-sqlalchemy-en/
  redir /en/2012/cross-compiling-go                 /blog/2012/cross-compiling-go/
  redir /en/2012/showkr                             /blog/2012/showkr-en/
  redir /en/2013/goreplace                          /blog/2013/goreplace-en/
  redir /en/2013/i18n                               /blog/2013/i18n-en/
  redir /en/2014/cljs-start                         /blog/2014/cljs-start/
  redir /en/2016/fluid-gmail                        /blog/2016/fluid-gmail/
  redir /en/2017/server-side-rendering              /blog/2017/server-side-rendering/
  redir /en/2019/http2-push-static                  /blog/2019/http2-push-static/
  redir /en/2020/gostatic-hot-reload                /blog/2020/gostatic-hot-reload/
  redir /en/2020/karabiner-hotkeys                  /blog/2020/karabiner-hotkeys/
  
  # changed urls
  redir /opster/ https://github.com/piranha/opster/ permanent
  redir /cyrax/ https://github.com/piranha/cyrax/ permanent
  redir /about/ / permanent
  redir /slides/18-09-15-highload/ /slides/18-09-15-make-it-fast/ permanent

  log {
    output file /var/log/caddy/solovyov.net.log
    #format single_field common_log
  }
}

www.solovyov.net {
  redir https://solovyov.net{uri} permanent
}
