{{/* -*- mode: go-template -*- */}}

{{ define "header" }}<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="{{ .Site.Other.Author }}">
  <meta name="keywords" content="alexander solovyov, piranha, python, mercurial, django, emacs, golang, sqlalchemy">
  <meta name="description" content="{{ if .Other.Description }}
    {{ .Other.Description }}
  {{ else if contains "<section>" .Content }}
    {{ with cut "<section>" "</section>" .Content }}{{ excerpt . 50 | strip_html }}{{ end }}
  {{ end }}
  ">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="alternate" type="application/atom+xml"
        title="{{ .Site.Other.Title }} russian posts" href="http://solovyov.net/blog.atom">
  <link rel="alternate" type="application/atom+xml"
        title="{{ .Site.Other.Title }} english posts" href="http://solovyov.net/en.atom">
  <link rel="alternate" type="application/atom+xml"
        title="{{ .Site.Other.Title }} linkroll" href="{{ .Rel "/links.atom" }}">
  <title>{{ .Site.Other.Title }}{{ if .Title }}: {{ .Title }}{{ end }}</title>

  <link rel="author" href="http://solovyov.net/about/">
  <link rel="author" href="https://plus.google.com/117696497748245979543">

  <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
  <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/76e7488b-6c80-4941-8f5a-0e4ba7c6b592">

  <link rel="stylesheet" type="text/css" href="{{ version . "static/main.css" }}">
  <script async="true" src="{{ version . "static/stuff.js" }}"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-317760-3', 'auto');
    ga('send', 'pageview');
    setTimeout(ga, 15000, 'send', 'event', 'read', '15_seconds');
  </script>
</head>
<body>
<div class="flex-center">
<div class="container">
  <header role="banner">
    <h2 id="site-title"><a href="/">solovyov.net</a></h2>
  </header>

{{ end }}


{{ define "footer" }}
  <footer>
    &#169; 2006&ndash;2017 <a href="{{ .Rel "/about/" }}">{{ .Site.Other.Author }}</a>.
	{{ if eq .Url "" }} Icons from <a href="https://www.flaticon.com/">Flaticon</a>. {{ end }}
  </footer>
</div>
</div>

</body>
</html>
{{ end }}

{{ define "page" }}{{ template "header" . }}
  {{ .Content }}
{{ template "footer" . }}{{ end }}

{{ define "post" }}
<link rel="amphtml" href="./amp/" />

<script src="{{ version . "static/highlight.pack.js" }}"></script>
<script>hljs.initHighlightingOnLoad();</script>

<article itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="mainEntityOfPage" content=".">

  <header>
    <h1 itemprop="headline">{{ .Title }}</h1>

    <div class="info">
      {{ template "date" .Date }}

      &mdash;

      <a href="{{ or .Other.Authorlink (.Rel "/about/") }}"
	     itemprop="author" itemscope itemtype="http://schema.org/Person">
	    <span itemprop="name">{{ or .Other.Author .Site.Other.Author }}</span>
	  </a>

      &mdash;

      {{ range $i, $t := .Tags }}{{if $i}},{{end}}
      <a href="/tags/{{ $t }}/">{{ $t }}</a>{{ end }}
    </div>
  </header>

  <section>
  {{ .Content }}
  </section>

  <footer id="disqus_thread"></footer>
  <script type="text/javascript">
    // var disqus_identifier = "https://solovyov.net/{{ .Url }}";
    (function(d, t) {
      var e = d.createElement(t);
      e.src = 'https://solovyovnet.disqus.com/embed.js';
      d.getElementsByTagName('head')[0].appendChild(e);
    })(document, 'script');
    anchorify({sel: 'h2, h3, h4, h5'});
  </script>
</article>
{{ end }}


{{define "tag"}}
# Pages tagged with {{ .Title }}

{{ range .Site.Pages.WithTag .Title }}
{{ if not (contains "amp" .Url) }}
- [{{ .Title }}](../../{{ .Url }})
{{ end }}
{{ end }}
{{end}}

{{define "link-html"}}
<article>
<div data-type="{{ index .Tags 0 }}">
<dt class="link-title">
  <a href="{{ .Rel .Url }}" class="dropcap"><span class="info">&#9997;</span></a>
  <a href="{{ .Other.Link }}">{{ .Title }}</a>
  {{ template "date" .Date }}
</dt>
<dd>{{ .Content }}</dd>
</div>
</article>
{{end}}
