{{/* -*- mode: go-template -*- */}}

{{ define "header" }}<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="alternate" type="application/atom+xml"
        title="{{ .Site.Other.Title }}" href="{{ .Site.Other.Url }}blog.atom">
  {{ if .Other.Alternate }}{{ .Other.Alternate }}{{ end }}
  {{ if .Other.Meta }}{{ .Other.Meta }}{{ end }}

  <title>{{ some .Title .Site.Other.Title }}</title>
  <meta name="author" content="{{ .Site.Other.Author }}">
  <meta name="keywords" content="alexander solovyov, piranha, kasta, clojure, python, emacs, blog
    {{- if .Other.Keywords }}, {{ .Other.Keywords }}{{ end }}">
  <meta name="description" content="{{ if .Other.Description -}}
    {{ .Other.Description }}
  {{- else -}}
    {{ with cut "<div id=\"post\".*?>" "</div>" .Content }}{{ excerpt . 30 | trim | strip_html }}{{ end }}
  {{- end }}">

  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Site.Other.Url }}{{ .Url }}">
  <meta property="og:title" content="{{ some .Title .Site.Other.Title }}">
  <meta property="og:description" content="{{ if .Other.Description -}}
    {{ .Other.Description }}
  {{- else -}}
    {{ with cut "<div id=\"post\".*?>" "</div>" .Content }}{{ excerpt . 30 | trim | strip_html }}{{ end }}
  {{- end }}">
  {{ if .Other.Img -}}
  <meta property="og:image" content="{{ .Site.Other.Url }}{{ .Other.Img }}">
  {{- else if matches "data-cover=" .Content -}}
  <meta property="og:image" content="{{ .Site.Other.Url }}{{ .Url }}{{ refind "data-cover=\"(.*?)\"" .Content }}">
  {{- else -}}
  <meta property="og:image" content="{{ .Site.Other.Url }}{{ version . "static/logo.png" | replace "../" "" }}">
  <meta property="og:image:width" content="490">
  <meta property="og:image:height" content="162">
  {{- end }}

  <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
  <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/76e7488b-6c80-4941-8f5a-0e4ba7c6b592">

  <link rel="stylesheet" type="text/css" href="{{ version . "static/blog.css" }}">
  <link rel="icon" href="{{ "static/favicon.svg" | version (.Site.Pages.ByPath "index.html") | cut "^." "$" }}" type="image/svg+xml" />
  {{/* <script async src="{{ version . "static/stuff.js" }}"></script> */}}
  <script data-goatcounter="https://sn.goatcounter.com/count" src="//gc.zgo.at/count.js" async></script>
</head>
<body>
  <header>
    <h2 id="title"><a href="/">solovyov.net</a></h2>
    <ul class="top-icons">
      <li><a href="https://twitter.com/asolovyov" class="group" title="Twitter">
        <svg class="icon opacity-75"><use xlink:href="{{ version . "static/icons.svg" }}#twitter"/></svg>
      </a></li>
      <li><a href="https://www.youtube.com/c/asolovyov" class="group" title="Youtube">
        <svg class="icon opacity-75"><use xlink:href="{{ version . "static/icons.svg" }}#youtube"/></svg>
      </a></li>
      <li><a href="https://github.com/piranha" class="group" title="Github">
        <svg class="icon opacity-75"><use xlink:href="{{ version . "static/icons.svg" }}#github"/></svg>
      </a></li>
      <li><a href="https://solovyov.net/blog.atom" class="group" title="RSS">
        <svg class="icon opacity-75"><use xlink:href="{{ version . "static/icons.svg" }}#rss"/></svg>
      </a></li>
    </ul>
  </header>

{{ end }}


{{ define "footer" }}
  <footer class="text-center">
    &#169; 2006&ndash;2020 <a href="{{ .Rel "/" }}">{{ .Site.Other.Author }}</a>.
    {{ if eq .Url "" }}Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/">www.flaticon.com</a>.{{ end }}
  </footer>

</body>
</html>
{{ end }}


{{ define "page" }}{{ template "header" . }}
  {{ .Content }}
{{ template "footer" . }}{{ end }}


{{ define "post" }}
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header
    {{ with $cover := .Content | refind "^<p><img .*?src=\"(.+?)\".*?></p>" -}}
    class="cover"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.5)),
                             url({{ $cover }})"
    data-cover="{{ $cover }}"
    itemprop="image"
    content="{{ $cover }}"
    {{- end }}>
    <h1>
      <span itemprop="name headline">{{- .Title -}}</span>
      {{- if .Other.Draft }} <span class="grey">(draft)</span>{{ end -}}
      <a href="/{{ .Url }}" class="self-target" itemprop="url">#</a>
    </h1>

    <div class="grey">
      {{ .Content | reading_time }} min read

      &middot;

      {{ range $i, $t := .Tags }}{{if $i}},{{end}}
      <a href="/tags/{{ $t }}/" class="p-category">{{ $t }}</a>{{ end }}
    </div>
  </header>

  <div id="post" class="clearfix" itemprop="articleBody">
    {{- .Content | replacere "^<p><img.+?></p>" "" -}}
  </div>

  <div>
    If you like what you read — subscribe to my
    <a href="https://twitter.com/asolovyov" class="group">
      <svg class="small-icon opacity-75"><use xlink:href="{{ version . "static/icons.svg" }}#twitter"/></svg>
      Twitter</a>,
    I always post links to new posts there. Or, in case you're an old
    school person longing for an ancient technology, put a link to my
    <a href="https://solovyov.net/blog.atom" class="group">
      <svg class="small-icon opacity-75"><use xlink:href="{{ version . "static/icons.svg" }}#rss"/></svg>
      RSS feed</a>
    in your feed reader (it's actually Atom feed, but who cares).
  </div>

  <div class="right">{{ template "microdate" .Date }}</div>

</article>

<div class="mt">

  <h4>Other recent posts</h4>

  {{ range (((.Site.Pages.Children "blog/").WhereNot "Draft" "true").Slice 0 5) }}
  {{ if ne . $ }}
  <section class="mb5">
    {{ template "date" .Date }}
    <a href="{{ $.Rel .Url }}">{{ .Title }}</a>
  </section>
  {{ end }}
  {{ end }}
</div>

<script>
if (location.search.match(/\beditor=/)) {
  var js = document.createElement('script');
  js.dataset.selector = '#post';
  js.src = "{{ version . "static/editor.js" }}";
  document.body.appendChild(js);
}
</script>

<script src="{{ version . "static/highlight.pack.js" }}" async defer onload="hljs.initHighlighting()"></script>
{{ end }}


{{ define "tag" -}}
<h1>Pages tagged with {{ .Title }}</h1>

{{ range .Site.Pages.WithTag .Title }}
<div class="mb5">
  {{ template "date" .Date }}
  <a href="{{ $.Rel .Url }}">{{ .Title }}</a>
</div>
{{ end }}
{{end}}


{{define "microdate"}}
<time class="cg mono dt-published"
      datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}"
      itemprop="datePublished"
      content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
  {{ .Format "Jan 2006" }}
</time>
{{end}}


{{define "date"}}
<time class="cg mono dt-published" datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
  {{ .Format "Jan 2006" }}
</time>
{{end}}


{{define "shortdate"}}
<time class="cg mono" datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
  {{ .Format "Jan" }}
</time>
{{end}}


{{define "star"}}
<svg title="Favorite post" class="small-icon" style="margin-top: 0.15em"><use xlink:href="{{ version . "static/icons.svg" }}#star"></svg>
{{end}}
