{{/* -*- mode: go-template -*- */}}

{{ define "header" }}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="{{ .Site.Other.Author }}">
  <meta name="keywords" content="alexander solovyov, piranha, python, mercurial, django, emacs, golang">
  <meta name="description" content="Alexander Solovyov, piranha">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" type="application/atom+xml"
        title="solovyov.net russian posts" href="http://feeds.feedburner.com/AmazonByteflow">
  <link rel="alternate" type="application/atom+xml"
        title="solovyov.net english posts" href="http://feeds.feedburner.com/BloggingSpree">
  <title>{{ .Site.Other.Title }}{{ if .Title }}: {{ .Title }}{{ end }}</title>

  <link rel="openid.server" href="http://www.myopenid.com/server">
  <link rel="openid.delegate" href="http://alexander.solovyov.myopenid.com/">
  <link rel="openid2.local_id" href="http://alexander.solovyov.myopenid.com/">
  <link rel="openid2.provider" href="http://www.myopenid.com/server">
  <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=alexander.solovyov.myopenid.com">

  <link rel="stylesheet" type="text/css" href="{{ version . "static/style.css" }}">
  <script type="text/javascript" src="{{ version . "static/stuff.js" }}"></script>
  <script type="text/javascript">
  var _gaq = [['_setAccount', 'UA-317760-3'], ['_trackPageview']];
  (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = 'http://www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
  }(document, 'script'));
  </script>
</head>
<body class="container">
  <header>
    <h2 id="site-title"><a href="/">solovyov.net</a></h2>
  </header>

{{ end }}


{{ define "footer" }}
  <footer>
    &#169; 2006&ndash;2013 Alexander Solovyov
    (<a href="{{ .Rel "/about/" }}">about</a>)
  </footer>
</body>
</html>
{{ end }}

{{ define "page" }}{{ template "header" . }}
  {{ .Content }}
{{ template "footer" . }}{{ end }}

{{ define "post" }}
<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<article>
  <header>
    <h1>{{ .Title }}</h1>

    <div class="note">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "2006, January 02" }}
      </time>

      in

      {{ range $i, $t := .Tags }}{{if $i}},{{end}}
      <a href="/tags/{{ $t }}/">{{ $t }}</a>{{ end }}
    </div>
  </header>

  <section>
  {{ .Content }}
  </section>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    (function(d, t) {
      var e = d.createElement(t);
      e.src = 'http://solovyovnet.disqus.com/embed.js';
      d.getElementsByTagName('head')[0].appendChild(e);
    })(document, 'script');
  </script>
</article>
{{ end }}


{{define "tag"}}
# Pages tagged with {{ .Title }}

{{ range .Site.Pages.WithTag .Title }}
- [{{ .Title }}](../../{{ .Url }})
{{ end }}
{{end}}
