{{/* -*- mode: go-template -*- */}}

{{ define "slides" }}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link rel="icon" href="{{ "static/favicon.png" | version (.Site.Pages.ByPath "index.html") | cut "^." "$" }}" type="image/png" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700|Oswald" rel="stylesheet">
  <script src="{{ version . "static/remark-0.15.0.min.js" }}"></script>
  <link href="https://highlightjs.org/static/demo/styles/github.css"  rel="stylesheet">
  <style type="text/css">
    .hljs-github .hljs { background: inherit; }


    /* slides styles (c) Alexander Solovyov <alexander@solovyov.net> */

    body {
      font-family: Open Sans, sans-serif;
    }

    h1, h2, h3 {
      color: #333;
      font-family: Oswald;
    }

    code {
      font-family: Monaco, Open Sans;
    }

    h1 {
      font-size: 1.8em;
      text-align: center;
      -webkit-margin-before: 0;
    }

    code { position: relative; text-align: left; }
    code .function {color: #900;}

    blockquote {
      border-left: .5rem solid lightgray;
      padding-left: 1rem;
    }

    a, a:visited {
      color: #00E;
    }

    .meta {
      font-size: 0.7em;
    }

    .footer {
      font-size: 0.7em;
      position: absolute;
      bottom: 1em;
      right: 1em;
      opacity: 0.5;
    }

    li { margin-bottom: 15px; }
    ul { margin-top: 10px; }

    .remark-slide-content {
      padding: 0 1.5em 1em 1.5em;
      font-size: 26pt;
      background-size: 100%;
    }

    .full-height {
      background-size: auto 100%;
    }
    .full-width {
      background-size: 100% auto;
    }

    .remark-code { font-size: 24pt; }

    .full img {
      width: 110%;
      height: 110%;
      margin-left: -1em;
    }

    s {
      text-decoration: none;
      position: relative;
    }
    s::after {
      content: '';
      border-bottom: 4px solid red;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
    }

    .transparent {
      opacity: 0.5;
    }

    .highlight {
      color: red;
      text-shadow: 2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
    }

    /* hero slides */
    .invert { background-color: black; }
    .orange { background-color: #ff7a16; }
    .green { background-color: #63b132; }
    .invert, .orange, .green,
    .invert h1, .orange h1, .green h1,
    .invert a {
      color: white;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .red { color: red; }

    .em2 { font-size: 2em; }
    .em3 { font-size: 3em; }

    /* remove page margins for printing */
    @media print {
      .remark-slide-scaler {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1) !important;
        top: 0 !important;
        left: 0 !important;
      }
    }
  </style>
  <script type="text/javascript">
    var REMARK_STYLE = null;
    function initRemark() {
      var remarkStyle = Array.prototype.filter.call(document.styleSheets, x => x.title == 'remark')[0];
      if (!REMARK_STYLE) {
        REMARK_STYLE = remarkStyle;
      }
      if (!remarkStyle) {
        var el = document.createElement('style');
        el.type = 'text/css';
        el.title = 'remark';
        el.innerHTML = Array.prototype.map.call(REMARK_STYLE.cssRules, r => r.cssText).join('\n');
        // should be inserted early so that custom css overrides it
        document.head.insertAdjacentElement('afterbegin', el);
      }

      var slideshow = remark.create({
        highlightLanguage: 'clojure',
        highlightStyle: 'github',
        highlightLines: true,
        ratio: "16:9",
        navigation: {scroll: false},
        slideNumberFormat: (current, total) => {
          return current > 1 ? current + ' / ' + total : ''
        }
      });
      window.dispatchEvent(new CustomEvent('remark-init'));
    }

    window.addEventListener('DOMContentLoaded', initRemark);
    window.addEventListener('hotreload', initRemark);

    /* setTimeout(function() {
     *   // dynamically set correct page size for printing
     *   var d = document, s = d.createElement("style"), r = d.querySelector(".remark-slide-scaler");
     *   if (!r) return;
     *   s.type = "text/css";
     *   s.innerHTML = "@page { size: " + r.style.width + "px " + r.style.height +"px; }";
     *   d.head.appendChild(s);
     * }, 1); */

  </script>
  <title>{{ with .Content | cut "(^|\n)title: " "\n" }}{{ . }}{{ else }}{{ .Content | cut "\n# " "\n" }}{{ end }}</title>
  <meta name="author" content="Alexander Solovyov">
  <meta name="keywords" content="alexander solovyov, piranha, kasta, clojure, python, emacs, blog, slides">
  <meta name="description" content="{{ with .Content | cut "\ndescription: " "\n" -}}
                                      {{ . }}
                                    {{- else -}}
                                      Slides for a talk by Alexander Solovyov
                                    {{- end }}">
  {{ .Content | cut "<!--head" "-->" }}
</head>
<body>
  <textarea id="source">{{ .Content }}</textarea>

  {{ .Content | cut "<!--body" "-->" }}
</body>
</html>
{{ end }}
