{{/* -*- mode: go-template -*- */}}

{{define "date"}}
<meta itemprop="datePublished dateModified" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
<time class="mono" datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
  {{ .Format "2006, Jan 02" }}
</time>
{{end}}

{{define "shortdate"}}
<time class="mono" datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
  {{ .Format "Jan 02" }}
</time>
{{end}}


{{define "star"}}
<svg title="Favorite post" class="small-icon" style="margin-top: 0.15em"><use xlink:href="{{ version . "static/icons.svg" }}#star"></svg>
{{end}}
