title: Blog

----

<div class="flex-center units-gap nav">
  <div class="unit-1-4"><a class="btn btn-primary" href="#all">All</a></div>
  <div class="unit-1-4"><a class="btn" href="#favorite">Favorite</a></div>
</div>

<div class="post-list">
{{ range .Site.Pages.Children .Url }}
{{ if (not .Other.Draft) }}

  {{ if .Date.Year | changed "year" }}
  <div id="{{ .Date.Year }}" class="flex-center">
    <div class="unit"><h2>{{ .Date.Year }}</h2></div>
  </div>
  {{ end }}

  <div class="flex-left units-gap post {{ if .Other.Favorite }}favorite{{ else }}normal{{ end }}"
       style="margin-top: 7px">
    <div class="unit-1-4 flex-right">
      {{ if .Other.Favorite }}
      <svg title="Favorite post" class="small-icon"><use xlink:href="{{ version . "static/icons.svg" }}#star"></svg>
      {{ end }}
      {{ template "shortdate" .Date }}
    </div>
    <div class="unit">
      <a href="{{ $.Rel .Url }}">{{ .Title }}</a>
    </div>
  </div>

{{ end }}
{{ end }}
</div>

<script type="text/javascript">
(function() {
    function switchTo(e) {
        e.preventDefault();
        var el = e.target;
        switch (el.getAttribute('href')) {
        case '#all':
            qsa('.post-list .post.normal').forEach(function(el) {
                el.style.display = '';
            });
            break;
        case '#favorite':
            qsa('.post-list .post.normal').forEach(function(el) {
                el.style.display = 'none';
            });
            break;
        };
        qsa('.nav .btn-primary')[0].classList.remove('btn-primary');
        el.classList.add('btn-primary');
    }
    qsa('.nav a').forEach(function(el) {
        el.addEventListener('click', switchTo);
    });
})();
</script>
