title: Blog
description: Blog of Alexander Solovyov
----

<h1 class="center">Blog</h1>

<div class="post-list">
{{ range (((.Site.Pages.Children "blog/").Where "Url" "/$").WhereNot "Draft" "true") }}

  {{ if .Date.Year | changed "year" }}
  <div id="{{ .Date.Year }}" class="center">
    <div class="unit"><h2>{{ .Date.Year }}</h2></div>
  </div>
  {{ end }}

  <section class="mb article-grid">
    <div class="nowrap o80">{{ template "date" .Date }}</div>
    <div class="relative">
      <a class="semibold" href="{{ $.Rel .Url }}">
        {{ .Title }}
        <span class="inset"></span>
      </a>
      <p class="mt5">
        {{ with cut "<div id=\"post\".*?>" "</div>" .Process.Content }}{{ excerpt . 40 | trim | strip_html }}{{ end }}
      </p>
    </div>
  </section>
{{ end }}
</div>
