@font-face {
    font-family: 'Candal';
    src: url('fonts/Candal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#deck h1 { font-family: 'Candal', Arial; font-size: 60px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
#deck h2 { font-family: 'Candal', Arial; font-size: 45px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
#deck p, #deck li { font-family: Arial; font-size: 35px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); margin-bottom: 0.5em}
#deck h1, #deck h2 { text-align: center; }

object { height: 100%; display: block; }
