@import "src/static/bootstrap/reset.less";

// Core variables and mixins
@import "src/static/bootstrap/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "src/static/bootstrap/mixins.less";

// Grid system and page structure
@import "src/static/bootstrap/scaffolding.less";
@import "src/static/bootstrap/grid.less";
@import "src/static/bootstrap/layouts.less";

// Base CSS
@import "src/static/bootstrap/type.less";
@import "src/static/bootstrap/code.less";

// Responsive
@import "src/static/bootstrap/responsive.less";

.container {
    max-width: 40em;
}

#site-title {
    background: black;
    display: inline-block;
    font-size: 1.3em;

    &:hover {
        background: @linkColorHover;
    }

    a {
        color: white;
        display: inline-block;
        padding: 0 0.3em;

        &:hover {
            text-decoration: none;
        }
    }
}

time {
    color: @grayLight;
}

footer {
    text-align: center;
    margin-top: 2em;
}

// index page
.presence {
    dd {
        padding-left: 2em;
    }

    .icon {
        float: left;
        padding: 0.5em 0.3em 0 0;
    }

    .right {
        float: right;
    }
}

dd + dt {
    padding-top: .5em;
}

// posts

article > header {
    margin-bottom: 1em;
}
