@import "highlight-github";
@import "mobi";

#site-title {
    background: black;
    display: inline-block;
    font-size: 1.3em;

    a {
        color: white;
        display: inline-block;
        padding: 0.3em 0.3em;

        &:hover {
            text-decoration: none;
        }
    }
}

footer {
  margin-top: 2em;
  text-align: center;
}

.projects { text-align: center;}

.index-icon {
  padding: 0.6em 0.3em 0 0;
}

.star {
  height: 1em;
  width: 1em;
  margin-top: -0.3em;
}

h1, h2, h3, h4, h5 {
    .anchor-link {
        display: none;
        color: grey;
    }
    &:hover .anchor-link {
        display: inline;
    }
}

time, .info {
    color: grey;
}

.post-list {
  .col-1-4 {
    flex-basis: 33%;
    max-width: 33%;
  }
}

.lead {
  font-size: 1.5em;
  font-weight: 200;
}
