title: Alexander Solovyov
----

<h2 id="presence">Online presence</h1>

<dl class="presence">
  <dt>
    <div class="icon">
      <a href="http://feeds.feedburner.com/AmazonByteflow">
        <img src="static/services/rss_32.png">
      </a>
    </div>
    <a class="right" href="http://feeds.feedburner.com/AmazonByteflow">
      <img src="http://feeds.feedburner.com/~fc/AmazonByteflow">
    </a>
    <a href="blog/">Blog in Russian</a>
  </dt>
  <dd>
  {{ with .Site.Pages.Children "blog/" }}
  Last entry:
    {{ template "date" .First.Date }}
    <a href="{{ $.Rel .First.Url }}">{{ .First.Title }}</a>
  {{ end }}
  </dd>

  <dt>
    <div class="icon">
      <a href="http://feeds.feedburner.com/BloggingSpree">
        <img src="static/services/rss_32.png">
      </a>
    </div>
    <a class="right" href="http://feeds.feedburner.com/BloggingSpree">
      <img src="http://feeds.feedburner.com/~fc/BloggingSpree">
    </a>
    <a href="en/">Blog in English</a>
  </dt>
  <dd>
  {{ with .Site.Pages.Children "en/" }}
  Last entry:
    {{ template "date" .First.Date }}
    <a href="{{ $.Rel .First.Url }}">{{ .First.Title }}</a>
  {{ end }}
  </dd>

  <dt>
    <div class="icon">
      <a href="http://twitter.com/asolovyov"><img src="static/services/twitter_32.png"></a>
    </div>
    <a class="right" href="http://twitter.com/asolovyov">
      <span id="twitter-readers">Determining</span> followers
    </a>
    <a href="http://twitter.com/asolovyov">Twitter</a>
  </dt>
  <dd>
    Last tweet: <span id="tweet">determining...</span>
  </dd>

  <dt>
    <div class="icon">
      <a href="photo/"><img src="static/services/flickr_32.png"></a>
    </div>
    <a class="right" id="flickr-photo" href="photo/"></a>
    <a href="photo/">My photos</a>
  </dt>
  <dd>It&apos;s nice to capture a moment occasionally.</dd>

  <dt>
    <div class="icon">
      <a href="http://www.linkedin.com/in/asolovyov"><img src="static/services/linkedin_32.png"></a>
    </div>
    <a href="http://www.linkedin.com/in/asolovyov">Linkedin page</a>
  </dt>
  <dd>Biggest social network of professionals.</dd>


  <dt>
    <div class="icon">
      <a href="http://piranha.github.io/slides/"><img src="static/services/email_32.png"></a>
    </div>
    <a href="http://piranha.github.io/slides/">Slides from my talks</a>
  </dt>
  <dd>So that they can be referenced.</dd>

</dl>

<br>

<h2 id="projects">Projects
  <span class="note">
    (more at <a href="http://github.com/piranha/">GitHub</a>)
  </span>
</h2>

<div class="row projects">
  <div class="span4">
    <h4 class="row" data-repo="keymage">
      <a href="http://github.com/piranha/keymage/">keymage</a>
    </h4>
    <span>Simple and small, but featureful enough JS keybinding library</span>
  </div>

  <div class="span4">
    <h4 class="row" data-repo="goreplace">
      <a href="http://github.com/piranha/goreplace/">goreplace</a>
    </h4>
    <span>grep/ack alternative with ability to replace (a-la sed)
      and support for .hgignore/.gitignore</span>
  </div>

  <div class="span4">
    <h4 class="row" data-repo="gostatic">
      <a href="http://github.com/piranha/gostatic/">gostatic</a>
    </h4>
    <span>Fast static site generator (engine of this site)</span>
  </div>

  <div class="span4">
    <h4 class="row" data-repo="cyrax">
      <a href="http://github.com/piranha/cyrax/">cyrax</a>
    </h4>
    <span>Extremely extensible static site generator
      (powers <a href="http://osgameclones.com">Open Source Game Clones</a>)</span>
  </div>

  <div class="span4">
    <h4 class="row" data-repo="opster">
      <a href="http://github.com/piranha/opster/">opster</a>
    </h4>
    <span>Dead simple (yet powerful) command line parser</span>
  </div>

  <div class="span4">
    <h4 class="row"><a href="project-root/">project-root</a></h4>
    <span>Emacs project management tool</span>
  </div>

  <div class="span4">
    <h4 class="row" data-repo="showkr">
      <a href="http://showkr.org/">Showkr</a>
    </h4>
    <span>Minimalistic viewer for Flickr</span>
  </div>

  <div class="span4">
    <h4 class="row" data-repo="osgameclones">
      <a href="http://osgameclones.com/">OSGC</a>
    </h4>
    <span>List of open source clones of (old) popular games</span>
  </div>

  <div class="span4">
    <h4 class="row" data-repo="tnetstrings.js">
      <a href="http://github.com/piranha/tnetstrings.js/">tnetstrings.js</a>
    </h4>
    <span>JS implementation of <a href="http://tnetstrings.org">tnetstrings</a></span>
  </div>

  <div class="span4">
    <h4 class="row" data-repo="adium-inline-images">
      <a href="https://github.com/piranha/adium-inline-images">Adium Inline Images</a>
    </h4>
    <span>Show images inline in Adium</span>
  </div>
</div>

<script type="text/javascript">
function renderTweet(amount) {
    var tmpl = '<time datetime="{iso}">{time}</time> ' +
        '<a href="http://twitter.com/asolovyov/status/{id}">{text}</a>';
    // note: amount accords to total amount of tweets, even those excluded,
    // that's why there is so much requested.
    amount = amount || 5;
    JSONP.get("http://api.twitter.com/1/statuses/user_timeline.json",
              {screen_name: "asolovyov", count: amount, trim_user: true,
               exclude_replies: true, include_rts: false},
              function (tweets) {
                  if (!tweets.length) {
                      return renderTweet(amount + 1);
                  }
                  var tweet = tweets[0];

                  var date = new Date(tweet.created_at);
                  var data = {iso: date.toISOString(),
                              time: date.format('{FullYear}, {MonthShort} {Date}'),
                              id: tweet.id_str,
                              text: tweet.text};
                  byId('tweet').innerHTML = tmpl.format(data);
              });
}

(function() {
    renderTweet();

    JSONP.get("http://api.twitter.com/1/users/show.json",
              {screen_name: "asolovyov"},
              function(info) {
                  byId('twitter-readers').innerHTML = info.followers_count;
              });

    JSONP.get("http://api.flickr.com/services/feeds/photos_public.gne",
              {id: "8226209@N04", format: "json"},
              function(feed) {
                  var photo = feed.items[0];
                  var el = byId('flickr-photo');
                  el.href = photo.link;
                  el.innerHTML = '<img style="height: 150px" src="{s}">'.format({
                      s: photo.media.m
                  });
              }, "jsoncallback");
})();

(function() {
    var tmpl = '<a href="https://github.com/{full_name}/stargazers">' +
        '<img src="static/star.png" style="height: 20px; width: 20px">' +
        ' {watchers_count}</a>';
    JSONP.get("https://api.github.com/users/piranha/repos",
              {type: 'owner', per_page: 100},
              function(repos) {
                  for (var i = 0; i < repos.data.length; i++) {
                      var repo = repos.data[i],
                          sel = '[data-repo="{name}"]'.format(repo),
                          parent = document.querySelector(sel);

                      if (!parent) continue;

                      var el = document.createElement('span');
                      el.innerHTML = tmpl.format(repo);
                      parent.appendChild(el);
                  };
              });
})();
</script>
