title: Alexander Solovyov
description: Blog of Alexander Solovyov
----

<div class="chat greyback">
  <div class="messages">
    <img class="avatar" style="flex: 0 0 64px; width: 64px" src="{{ version . "static/asolovyov.jpg" }}">

    <div class="left mine">
      <div class="message">
        Hi! 🙂 I'm Alexander Solovyov
      </div>
      <div class="message">
        I'm providing technical consulting on various matters - like performance,
        team organization and so on
      </div>
      <div class="message">
        <a href="/consult/">👉 Read more</a>
      </div>
    </div>
  </div>
</div>


<h1>Blog</h1>

<div class="mosaic">
{{ range $i, $post := ((((.Site.Pages.Children "blog/").Where "Url" "/$").WhereNot "Draft" "true").Slice 0 6) }}
<article class="relative">
  <header class="cover p5 h100 gradient{{ $i }}"
          {{ with $cover := .Process.Content | refind "data-cover=\"(.*?)\"" }}
          style="--cover: url('{{ $cover | absurl $post.Url }}')"
          {{end}}
  >
    <a href="{{ $.Rel .Url }}">
      {{ .Title }}
      <span class="inset"></span>
    </a>
    <span class="small grey">{{ template "monthyear" .Date }}</span>
  </header>
</article>
{{ end }}
</div>
<section class="mt"><a class="button" href="/blog/">more articles &raquo;</a></section>


<h1>Other activity</h1>

<ul class="nobullets pl0">
  <li>
    <a href="https://t.me/bitethebyte" title="Telegram">
      <svg class="icon"><use href="{{ version . "static/icons.svg" }}#telegram"/></svg>
      Telegram</a>
    <span style="opacity: 50%">(in Ukrainian, archive <a href="/channel/">here</a>)</span>
  </li>
  <li>
    <a href="https://twitter.com/asolovyov" title="Twitter">
      <svg class="icon"><use href="{{ version . "static/icons.svg" }}#twitter"/></svg>
      Twitter</a>
    <span style="opacity: 50%">(mostly English)</span>
  </li>
  <li>
    <a href="https://youtube.com/c/asolovyov" title="YouTube">
      <svg class="icon"><use href="{{ version . "static/icons.svg" }}#youtube"/></svg>
      YouTube</a>
    <span style="opacity: 50%">(in Ukrainian)</span>
  </li>
  <li>
    <a href="https://github.com/piranha" title="Github">
      <svg class="icon"><use href="{{ version . "static/icons.svg" }}#github"/></svg>
      Github</a>
    <span style="opacity: 50%">(many languages 😀)</span>
  </li>
  <li>
    <a href="slides/">
      <svg class="icon"><use href="{{ version . "static/icons.svg" }}#slideshow"/></svg>
      Slides from my talks
    </a>
  </li>
</ul>
